<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Presupuestos</ion-title><!--Titulo de la pagina-->
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-list><!--Inicio de lista-->
    <ion-item-group><!--Inicio de grupo de items de una lista-->
      <ion-item-divider><!--Divisor de grupos-->
        <ion-label>Presupuesto General</ion-label><!--Etiqueta-->
      </ion-item-divider>    
      <ion-item><!--Inicio de item de lista-->
        <ion-input (change)="sumaPresupuesto()" placeholder="00.00" inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="presupuestoTotal" ></ion-input><!--Elemento para ingreso, tipo numero, requerido, valor minimo 0 referencia a variable-->
        <ion-label [(color)]="labelColor">Asignado: {{sumPresupuestoIng}}</ion-label>
      </ion-item>
    </ion-item-group>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Alimentacion</ion-label>      
      </ion-item-divider>
      <ion-item>      
        <ion-input (change)="sumaPresupuesto()" placeholder="00.00" inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="presupuestoAlimentacion.cantidad" placeholder="00.00"></ion-input>
        <ion-icon name="fast-food-outline"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-label>Servicios</ion-label>      
      </ion-item-divider>
      <ion-item>      
        <ion-input (change)="sumaPresupuesto()" inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="presupuestoServicios.cantidad" placeholder="00.00"></ion-input>
        <ion-icon name="water-outline"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-label>Educacion</ion-label>    
      </ion-item-divider>    
      <ion-item>      
        <ion-input (change)="sumaPresupuesto()" inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="presupuestoEducacion.cantidad" placeholder="00.00"></ion-input>
        <ion-icon name="book-outline"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-label>Ocio</ion-label>      
      </ion-item-divider>
      <ion-item>      
        <ion-input (change)="sumaPresupuesto()" inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="presupuestoOcio.cantidad" placeholder="00.00"></ion-input>
        <ion-icon name="brush-outline"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-label>Transporte</ion-label>      
      </ion-item-divider>
      <ion-item>      
        <ion-input (change)="sumaPresupuesto()" inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="presupuestoTransporte.cantidad" placeholder="00.00"></ion-input>
        <ion-icon name="bus-outline"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-label>Vivienda</ion-label>      
      </ion-item-divider>
      <ion-item>      
        <ion-input (change)="sumaPresupuesto()" inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="presupuestoVivienda.cantidad" placeholder="00.00"></ion-input>
        <ion-icon name="home-outline"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-label>Salud</ion-label>      
      </ion-item-divider>
      <ion-item>      
        <ion-input (change)="sumaPresupuesto()"  inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="presupuestoSalud.cantidad" placeholder="00.00"></ion-input>
        <ion-icon name="medkit-outline"></ion-icon>
      </ion-item>
      <ion-item-divider>
        <ion-label>Otros</ion-label>      
      </ion-item-divider>
      <ion-item>
        <ion-input (change)="sumaPresupuesto()" inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="presupuestoOtros.cantidad" placeholder="00.00"></ion-input>
        
      </ion-item>
    </ion-item-group>
  </ion-list>
  
  <!--Elemento para ingreos de fecha en formato MMM D:HH:mm, referencia a variable, requerido, condicion para eleccion de dia segun familia
  <ion-item-divider>
    <ion-label>Fecha</ion-label>      
  </ion-item-divider>
  <ion-item style="margin: 1%;">
    
    <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="MMM D:HH:mm" [(ngModel)]="presupuestoAlimentacion.fecha" required="true" dayValues={{diaMes}}></ion-datetime>
  </ion-item>-->
  
  <ion-item-divider>
    <ion-label>Acciones</ion-label>      
  </ion-item-divider>
  <ion-button expand="block" (click)="actionPresupuesto()">Registrar presupuestos</ion-button><!--Boton-->
  
</ion-content>
