<ion-header>
  <ion-toolbar>
    <ion-title>Registrar Gasto</ion-title><!--Titulo de la pagina-->
  </ion-toolbar>
</ion-header>

<ion-content><!--Contenido de pagina-->
  <ion-list><!--Lista de informacion necesaria-->
    <ion-item-divider><!--Separador de grupo de items-->
      <ion-label>Gasto realizado</ion-label><!--Etiqueta-->
    </ion-item-divider>
    <ion-item-group style="margin-left: 1%;"><!--Grupo de items-->
      <ion-item>
        <ion-label>Monto: </ion-label>
        <ion-input placeholder="00.00" inputmode="decimal" type="number" required="true" min="0" [(ngModel)]="gasto.monto"></ion-input><!--Elemento para ingreso, tipo numero, requerido, valor minimo 0 referencia a variable-->
        <ion-icon name="cash-outline"></ion-icon>
      </ion-item>
    </ion-item-group>
  </ion-list >

  <ion-list>
    <ion-item-group>                  
      <ion-item>
        <ion-label>Categoria de gasto</ion-label>
        <ion-select [(ngModel)]="gasto.id_categoria" required="true"><!--Elemento para seleccion de categoria, referencia a variable, requerido-->
          <!--Mediante la selecion de la categoria se asigna un valor, el cual hace referencia a el codigo almacenado en Firebase-->
          <ion-select-option value="834IqsQWzMFPdsE7TZKu">Alimentacion</ion-select-option>
          <ion-select-option value="yfXjC94YqUqIbn4zXMjx">Servicios</ion-select-option>
          <ion-select-option value="EjKGtXUIHEnwC0MKrzIn">Educacion</ion-select-option>
          <ion-select-option value="Y2xbbnUeLwCz5UhfMMJZ">Ocio</ion-select-option>
          <ion-select-option value="pZbMomfUFtw8u2aD0sEC">Transporte</ion-select-option>
          <ion-select-option value="NgNS2EM0p4UdeAQlZ4q6">Vivienda</ion-select-option>
          <ion-select-option value="Mp82DGLcR5AUOEk5DSrC">Salud</ion-select-option>
          <ion-select-option value="uPtleC6y1na6ZkkpePAd">Otros</ion-select-option>
        </ion-select>
        <ion-icon name="list-circle"></ion-icon>
      </ion-item>      
    </ion-item-group>
  </ion-list>

  <ion-item style="margin-top: 1%; margin-bottom: 1%;">
    <ion-label >Fecha: </ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY HH:mm" pickerFormat="YYYY-MM-DDTHH:mm:ss.sssZ" [(ngModel)]="gasto.fecha" required="true"></ion-datetime><!--Elemento para ingreso de fecha, tipo date, requerido, referencia a variable, formato de visualizacion y de obtencion-->
  </ion-item>
        
  <ion-item-divider>
    <ion-icon name="document-text"></ion-icon>
    <ion-label>Descripcion (Opcional) </ion-label>      
  </ion-item-divider>
  <ion-item-group>
    <ion-item>        
      <ion-textarea placeholder="Razón de la compra..." inputmode="text" [(ngModel)]="gasto.descripcion"></ion-textarea><!--Elemento para ingreso, tipo texto, referencia a variable-->
    </ion-item>
  </ion-item-group>    
  
  <ion-button expand="block" (click)="registrarGasto()">Registrar</ion-button><!--Boton,llamado a funcion diseñada-->
</ion-content>
